.image-card-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.game > h1 {
  font-weight: normal;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.game .scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.game .button-list {
  display: flex;
  justify-content: center;
}

.game button {
  font: inherit;
  background-color: white;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 2rem;
}
