.image-card {
  width: fit-content;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  overflow: hidden;
  font: inherit;
  padding: 0;
}

.image-card .zoom-image {
  overflow: hidden;
  position: relative;
}

.image-card .image {
  display: block;
  width: 280px;
  height: 280px;
  transition: transform 0.25s ease-out;
}

.image-card:hover .image {
  transform: scale(1.15);
}

.image-card .title {
  display: flex;
  justify-content: center;

  background-color: black;
  margin: 0;
  font-weight: normal;
  padding: 0.3rem 0;
  font-size: 1.4rem;
}

.image-card.clicked .zoom-image:after,
.image-card.not-clicked .zoom-image:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
}

.image-card.clicked .zoom-image:after {
  background: rgba(50, 205, 50, 0.5);
}

.image-card.not-clicked .zoom-image:after {
  background: rgba(255, 0, 0, 0.5);
}
